# =========================
# Rust
# =========================
/target/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Generated binaries / artifacts
# =========================
*.bin
*.bin.sha256

# =========================
# Bench outputs
# Should be reproduce by the command specify in README.md and github actions
# =========================
/bench/results/
*.csv

# =========================
# Generated RPC code
# Should be reproducible by the command specify in README.md and github actions
# =========================
neurosim_pb2.py
neurosim_pb2_grpc.py

# =========================
# OS
# =========================
.DS_Store
